/* Write your CSS here */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 5px;
  font-family: 'Open sans';
  background-color: #ffffff;
}
.card-image {
  height: 100px;
  width: 160px;
}
.card-para {
  text-align: center;
}
